@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background: #121829;
  background-image: url("/image/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

input:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.MovieList {
  p {
    margin-top: 20px;
    width: 588px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
    span {
        color: #9C92F8;
    }
  }
}

